body {
  margin: 0;
  padding: 0;
  font-family: 'dm', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-kerning: auto;
  font-variant: tabular-nums;
  font-variant-ligatures: common-ligatures;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code,
input,
button,
textarea {
  font-family: 'dm', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

input[role='button'],
a,
area,
button,
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
.github-corner svg{
  z-index: 99;
  fill: $success;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.github-corner .octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out infinite;

}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

button {
  font-weight: 700;
}

.quotes {
  font-family: 'dm', 'IBM Plex Serif', 'Georgia', 'Times New Roman', serif;
  font-style: italic;
}

::selection {
  background: $success;
  color: $white;
  text-shadow: none;
}

h1 {
  margin-bottom: 2rem;
  line-height: 2;
  color: $success;
  text-transform: capitalize;
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -0.02em;
  // text-shadow: 2px 2px 0 #fff, 3px 3px 0 #ddd;
}

i.arrow-back {
  font-size: 36px;
  color: $success;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  background-color: transparent;
  width: 36px;
  transition: text-shadow ease-in 0.3s;
  cursor: pointer;
  &:hover {
    //box-shadow: 0 5px 20px rgba(40, 167, 69, 0.3);
    text-shadow: 0 0 1.5rem rgba(40, 167, 69, 0.7);
    background-color: transparent;
  }
}

.infinite-loader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.App {
  text-align: left;
}
