#pokemon {
  .card.pokemon-detail {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 1.5px solid $success;
    min-height: $big-card-height;
    overflow: auto;
    background: $card-background;
    background: linear-gradient(
      to bottom,
      $card-background-from,
      $card-background-to
    );
    box-shadow: rgba(40, 167, 69, 0.2) 0px 0px 1rem,
      rgba(40, 167, 69, 0.6) 0px 12px 24px -8px;

    .pokemon-video-player {
      max-width: 100%;
      width: auto;
      max-height: 300px;
    }

    @media (max-width: 360px) {
      .pokemon-video-player {
        height: 240px;
      }
    }

    @media (max-width: 320px) {
      .pokemon-video-player {
        height: 210px;
      }
    }

    .card-title {
      h1 {
        font-size: 1.75rem;
        text-align: left;
        font-weight: 700;
        line-height: 1.75rem;
        text-transform: capitalize;
        //text-shadow: 2px 2px 0 #fff, 3px 3px 0 #ddd;
      }
    }

    .card-subtitle {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .icon-type-wrapper {
        margin-right: 1rem;
      }

      margin-bottom: 0.75rem;
    }

    .card-text {
      //line-height: 1.25;
      // min-height: 2.5rem;
    }

    .card-body {
      padding: 1rem;
    }

    .card-img-top {
      max-width: 300px;
      //width: 50%;
      height: auto;
      text-align: center;
      margin: 0 auto;
    }

    .card-video-top {
      margin: 0 auto;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      margin-bottom: 1.25rem;
      margin-left: 10px;
      margin-right: 10px;
      flex-wrap: wrap;
      .go-link {
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        height: 34px;
        background-color: $fake-background;
        color: $dark;
        width: 49%;
        border-radius: 0.5rem;
        text-decoration: none;
        margin-bottom: 1rem;
        transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
        padding-top: 6px;
        &:hover {
          box-shadow: rgba(40, 167, 69, 0.4) 0 12px 24px -8px;
          color: $success;
        }
        &.go-prev-pokemon {
          flex-direction: row;
          .pokemon-img {
            margin-left: -10px;
          }
          .pokemon-id {
            margin-right: 0.5rem;
          }
        }

        &.go-next-pokemon {
          flex-direction: row-reverse;
          .pokemon-img {
            margin-right: -10px;
          }
          .pokemon-id {
            margin-left: 0.5rem;
          }
        }

        .pokemon-img {
          border-radius: 50%;
          margin-top: -8.5px;
          width: 40px;
          height: 40px;
          z-index: 2;
          background-color: white;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          border: 2px solid $success;
          text-align: right;
        }
        .pokemon-name {
          font-weight: 700;
          height: 34px;
          display: block;
          //color: $success;
        }
        .pokemon-id {
          height: 34px;
          display: block;
          color: $success;
        }
      }
    }
    @media (max-width: 375px) {
      .navigation {
        margin-right: 10px;
        margin-left: 0;
        .go-link {
          width: 100%;
          margin-right: 10px;
          margin-left: 5px;
        }
        .go-link:first-child {
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }

    .forms {
      margin-bottom: 1.5rem;
      .title {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: block;
      }
      .form-list {
        list-style: none;
        display: flex;
        margin-left: 0;
        padding-left: 0;

        li a {
          text-decoration: none;
          border: 1px solid $secondary;
          border-radius: 0.25rem;
          margin-right: 1.25rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 1rem;
          transition: box-shadow 0.3s ease-in-out,
            background-color 0.3s ease-in-out;
          background-color: rgba(40, 167, 69, 0.01);
          cursor: pointer;
          opacity: 0.3;
          box-shadow: 0rem 0rem 0.5rem rgba(40, 167, 69, 0.5);
          &:hover {
            border: 1px solid $success;
            box-shadow: 0.5rem 0.3rem 2rem rgba(40, 167, 69, 0.4);
            background-color: #fff;
            color: $success;
            opacity: 1;
          }
          &.active {
            border: 1px solid $success;
            box-shadow: 0.5rem 0.3rem 2rem rgba(40, 167, 69, 0.4);
            background-color: #fff;
            opacity: 1;
            .name {
              text-align: center;
              color: $success;
              font-weight: 700;
            }
          }
          .name {
            text-align: center;
            color: $secondary;
            font-weight: 700;
          }
          img {
            width: 100px;
          }
        }
      }
    }

    .stats-row {
      // border: 1px solid $success;
      background-color: $card-background-highlight;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    .weakness-list,
    .resistance-list {
      list-style: none;
      padding-left: 0;
      li {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;

        align-items: center;
        .effectiveness {
          margin-left: 1rem;
          margin-bottom: 0.5rem;
          line-height: 32px;
          text-wrap: none;
          padding-left: 0.5rem;
          &.eff-2x,
          &.eff-3x {
            color: #fff;
            line-height: 28px;
            border-radius: 0.25rem;
            padding-right: 0.5rem;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
        }
      }
      .damage-text {
        font-size: 0.8rem;
      }
      @media (max-width: 360px) {
        .damage-text {
          display: none;
        }
      }
      @media (max-width: 375px) {
        .arrow-to-damage {
          display: none;
        }
        li {
          //justify-content: space-between;
        }
      }
    }

    .weakness-list .effectiveness {
      color: $danger;
      &.eff-2x {
        background-color: $danger;
      }
      &.eff-3x {
        background-color: darkred;
      }
    }

    .resistance-list .effectiveness {
      color: $success;
      &.eff-2x {
        background-color: $success;
      }
      &.eff-3x {
        background-color: darkgreen;
      }
    }

    .family {
      margin-left: -1rem;

      .title {
        margin-left: 1rem;
      }
      img {
        width: 125px;
        margin: 0 auto;
      }
      .family-list {
        margin-bottom: 0px;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        justify-items: center;
        margin-left: 0;
        padding-left: 0;
        flex-wrap: wrap;
        li a {
          text-decoration: none;
          border: 1px solid $success;
          border-radius: 0.25rem;
          box-shadow: 0rem 0rem 0.5rem rgba(40, 167, 69, 0.5);
          margin-left: 1rem;
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          justify-items: center;
          height: 239px;
          width: 150px;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
          transition: box-shadow 0.3s ease-in-out,
            background-color 0.3s ease-in-out;
          background-color: rgba(40, 167, 69, 0.01);
          cursor: pointer;
          &:hover {
            box-shadow: 0.5rem 0.3rem 2rem rgba(40, 167, 69, 0.4);
            background-color: #fff;
          }

          .member-name {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            display: inline;
            line-height: 1;
            &.top {
              margin-left: 0.5rem;
            }
            &.bottom {
              margin-right: 0.5rem;
              text-align: right;
            }
          }
          .card-icon {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1;
            display: inline;
            &.top {
              margin-left: 0.5rem;
              margin-top: -0.1rem;
            }
            &.bottom {
              margin-right: 0.5rem;
              margin-bottom: -0.1rem;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
