#pokemons {
  .card.pokemon {
    margin-bottom: 1.5rem;
    border: 1.5px solid $success;
    height: $card-height;
    background: $card-background;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.8s;
    opacity: 1;
    box-shadow: none;

    &:hover {
      //box-shadow: .5rem 1rem 2rem rgba(40, 167, 69, 0.5);

      box-shadow: rgba(40, 167, 69, 0.2) 0px 0px 1rem,
        rgba(40, 167, 69, 0.6) 0px 18px 32px -8px;
      background: rgba(40, 167, 69, 0.01);
    }

    .card-title {
      font-size: 1rem;
    }

    .card-text {
      //line-height: 1.25;
      min-height: 3.9rem;
    }

    .card-body {
      padding: 1rem;
    }

    .card-img-top {
      width: 237px !important;
      min-height: 237px;
      text-align: center;
      margin: 0 auto;
      padding-top: 0.8rem;
    }
  }
}
