$bug-color: #9cb820; //#729f3f;
$dark-color: #504843; //#707070;
$dragon-color: #7038f8; //#53a4cf;
$electric-color: #f8d030; //#eed535;
$fairy-color: #f09ad9; //#fdb9e9;
$fighting-color: #c03028; //#d56723;
$fire-color: #f08030; //#fd7d24;
$flying-color: #9096f0; //#3dc7ef;
$ghost-color: #705898; //#7b62a3;
$grass-color: #22c02a; //#9bcc50;
$ground-color: #e0b668; //#f7de3f;
$ice-color: #98d8d8; //#51c4e7;
$normal-color: #a8a8a8; //#a4acaf;
$poison-color: #a040a0; //#b97fc9;
$psychic-color: #f85888; //#f366b9;
$rock-color: #b8a038; //#a38c21;
$steel-color: #6d8f9c; //#9eb7b8;
$water-color: #6890f0; //#4592c4;
$type-font-size: 700;

$card-background: rgba(40, 167, 69, 0.04);
$card-background-from: rgba(40, 167, 69, 0);
$card-background-to: rgba(40, 167, 69, 0.1);
$card-background-highlight: rgba(40, 167, 69, 0.1);

$fake-background: rgba(40, 167, 69, 0.1);
$fake-background2: rgba(40, 167, 69, 0.2);

$card-height: 420px;
$big-card-height: calc(100vh - 2.5rem);
$img-top-width: 475px;
